nav.navbar.navbar-expand-lg
  a.navbar-brand(href="#") Ducktrail
  button.navbar-toggler(type="button" 
      data-toggle="collapse" 
      data-target="#navbarSupportedContent" 
      aria-controls="navbarSupportedContent" 
      aria-expanded="false" 
      aria-label="Toggle navigation")
      span.navbar-toggler-icon
  .collapse.navbar-collapse(id="navbarSupportedContent")
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href="/") Home
          span.sr-only (current)
      li.nav-item
        a.nav-link(href="/tour") Nieuwe tour
      li.nav-item
        a.nav-link(href="/about") Instructies
